:root {
  --text-color: #667085;
  --main-color: #8E2424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.links a {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 2rem;
}

button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;
  background: none;
  color: var(--text-color);
  font-size: 0.9rem;
}

button#signUp {
  background-color: var(--main-color);
  color: #FFF;
}

/* Cabeçalho - Primeira seção */

.about-us {
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* poderia ser margin-bottom pra cada elemento, gap dá um espaçamento entre todos
  os filhos de uma div com display flex*/
}

.about-us span {
  color: var(--main-color);
}

.about-us h1 {
  font-size: 2rem;
}

.about-us p {
  color: var(--text-color);
  max-width: 50%;
  text-align: center;
  line-height: 1.5rem;
}

/* Seção de métricas */

.metrics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  padding: 0 8rem;
}

.metric {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.metric span.title {
  color: var(--main-color);
  font-size: 3rem;
  font-weight: bold;
}

.metric span {
  color: var(--text-color);
  line-height: 140%;
  font-size: 90%;
}

.metric .metric-title {
  font-weight: 500;
  color: #101828;
}

